@import "~antd/dist/antd.css";

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa500;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff8c00;
}

.header {
  display: flex;
  justify-content: space-between;
}

.shadow {
  box-shadow: 5px 5px 10px #888888;
}

.header-shadow {
  box-shadow: 0px 2px 5px #888888;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
