@import "~antd/dist/antd.css";

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa500;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff8c00;
}
